
.info-container {
    position: relative;
    width: 60%;
    height: 50%;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    border: solid white 1px;
}

.link-nav-container {
    border-bottom: solid white 1px;
}

.link-nav-container li {
    display: inline-block;

    transition: color 0.5s;
    transition: filter 0.5s;
}

.link-nav-container li button {
    background:none;
    border:none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.information-container {
    display: flex;
    flex-direction: row;
}

.table-description {
    color: white;
}

.table-info-container {
    position: relative;
    width: 30%;
    height: auto;
    border: yellow solid 1px;
}

.table-image-container img {
    width: 100px;
    height: auto;
}

.about-container {
    position: absolute;
}

.about-title {
    position: absolute;
    margin-top: 3%;
    left: 10%;
    border: solid white 1px;
}

.about-subtitle {
    color: white;
    font-weight: bold;
    font-size: 1.50rem;
}

.about-header {
    color: white;
    font-size: 2.85rem;
    font-weight: bold;
}